:root {
    --primary-bg-color: #131517;
    --primary-text-color: #858b93;
    --primary-color-leniar-color: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
    --btn-text-color: #f9f9f9;
    --btn-border-color: #272633;
    --btn-bg-color: #131517;
    --btn-hover-bg-color: #282c30;
    --btn-text-hover-color: #f9f9f9;
    --btn-text-underline-color: #6aea5c;
}
